*{
    padding: 0;
    margin:0;
}

body{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#content{
    color:white;
    width:800px;
    margin: 0 auto;
    background: #444;
    padding: 20px;
    border-radius: 10px;
}

#canvasHolder{
    margin-top: 30px;
    text-align: center;
}

#canvas{
    height:550px;
    width:auto;
    margin:0 auto;
}

